# IntelliJ
.idea
*.iml
*.private.env.json

# MacOS
.DS_Store

# Dart & Flutter
build
.dart_tool
.dart_frog
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache
.pub

# Codegen
*.freezed.dart
*.pb*.dart

# Melos
pubspec_overrides.yaml

# Project config
projects.json